<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Parking</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'number_plates_app/style.css' %}">
    <link rel="stylesheet" href="{% static 'number_plates_app/main.css' %}">
</head>
<body>
<main class="container">
    <div class="menu-container">
        <div class="user-menu">
            <nav class="nav">
                <ul>
                    <li><a href="/" role="button">Головна</a></li>
                    <li><a href="{% url 'number_plates_app:tarif' %}" role="button">Тарифи</a></li>
                    <li><a href="{% url 'number_plates_app:rules' %}" role="button">Правила</a></li>
                    <li><a href="{% url 'number_plates_app:contacts' %}" role="button">Контакти</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="banner-home">
                <img src="{% static 'number_plates_app/images/background_video_new.jpg'%}" alt="img-fluid" class="background-img">
                
                <div class="banner-text">
                    {% if user.is_authenticated %}
                    <div class="h1">
                        <h3>Welcome <b>{{ user.username }}!</b></h3>
                        <h2><a href="{% url 'users:menu' %}" role="button">Menu</a></h2>
                        <h2><a href="{% url 'users:logout' %}" role="button">Logout</a></h2>
                    </div>
                    {% else %}
                    <div class="auth-container">
                        <div>
                            <h4><a href="{% url 'users:signup' %}" role="button">Sign Up</a></h4>
                            <h4><a href="{% url 'users:login' %}" role="button">Login</a></h4>
                        </div>
                    </div> 
                    {% endif %} 
                </div>
                
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
</main>
<footer class="container">
    <div class="row">
        <div class="user-menu">
            <nav class="nav">
                <ul class="list-unstyled">
                    <li><a href="/">Головна</a></li>
                    <li><a href="#">Тарифи</a></li>
                    <li><a href="#">Правила</a></li>
                    <li><a href="#">Схема проїзду</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
</body>
</html>
