{% extends "number_plates_app/base.html" %}

{% block content %}
<div class="container">
    <div class="row-home-text">
        <h2>Як з нами зв'язатися</h2>
        <p>Наші робітники готові у будь-який час вас проконсультувати.</p>
        <p>Набирайте за номером, вказаним нижче, або залишайте повідомлення на нашу пошту 
            із зручним для вас часом, і ми самі з вами зв'яжемося.</p>
        <p>Номер для зв'язку</p>
        <ul>
            <li>+38(078)25478132</li>
            <li>+38(055)54863197</li>
            <li>+38(055)33672426</li>
        </ul>
        <p>Електронна пошта</p>
        <ul>
            <li>Psyduck-parking@gmail.com</li>
        </ul>

    </div>
</div>
{% endblock %}
