{% extends "number_plates_app/base.html" %}

{% block content %}
<div class="container">
    <div class="row-home-text">
        <h2>Про паркінг</h2>
        <p>Збереження автомобіля в режимі 24/7, захист від впливу будь-яких погодних умов, а також, наявність повного спектра супутнього автомобільного сервісу, таких як: мийка, хімчистка салону, послуги з детейлінгу - все це невід'ємні переваги паркінгу, які особливо важливі для жителів міста-мільйонника з швидким ритмом життя і високою цінністю таких понять як "час" і "безпека".</p>
        <p>Придбавши абонемент на послуги паркінгу "Троїцький", ви отримуєте:</p>
        <ul>
            <li>
                цілодобовий доступ до автомобіля, на території, що знаходиться під охороною 24/7 
            </li>
            <li>
                гарантоване паркомісце в Центральному діловому районі столиці, з найбільшою представленістю бізнес-центрів, офісних приміщень, ресторанів, готелів, салонів краси, спортзалів тощо.
            </li>
            <li>
                можливість зарядки електромобіля (функціонує 1 зарядна станція, яка дозволяє одночасно обслужити до 6 електромобілів)
            </li>
        </ul>
    </div>
<!--

</div id="slideshow0" class="owl-carousel owl-loaded owl-drag" style="opacity: 1;">
<div class="owl-stage-outer">
    <div class="owl-stage" style="transform: translate3d(-5393px, 0px, 0px); transition: all; width: 10787px;;">
        <div class="owl-item cloned" style="width: 269.667px;">
            <div class="item">
                <a href="https://parking-troyitsky.com.ua/image/cache/catalog/jg0b1100-1500x844.jpg">
                    <img src="https://parking-troyitsky.com.ua/image/cache/catalog/jg0b1100-1500x844.jpg" data-fancybox="gallery" alt="Фото" class="img-responsive">
                </a>
                
            </div>
        </div>
    </div>
</div>
</div>   
-->






{% endblock %}