
{% extends "number_plates_app/base.html" %}

{% block content %}
<div class="container"></div>
    <div class="row-home-text">
        <h2>Правила користування Підземним паркінгом</h2>
        <ol>
            <li>Автомобілям з причепом заїзд на територію паркінгу не дозволяється.</li>
            <li>На території паркінгу необхідно дотримуватися дорожньої розмітки та вимог дорожніх знаків.</li>
            <li>Вхід та вихід з території паркінгу дозволяється лише шляхами призначеними для пішоходів.</li>
            <li>Пішоходам не дозволяється входити та виходити з території паркінгу по проїжджим частинам рамп.</li>
            <li>При заїзді та виїзді з території паркінгу між автомобілями необхідно тримати дистанцію не менше 2 м.</li>
            <li>При проїзді не дозволяється зупинятися в зоні дії шлагбауму.</li>
            <li>На території підземного паркінгу забороняється :</li>
                <ul>
                    <li> розпивати спиртні напої;</li>
                    <li> розпалювати багаття;</li>
                    <li> палити;</li>
                    <li> ремонтувати та мити транспортні засоби;</li>
                    <li> користуватися їдкими, надто пахучими, брудними, легкозаймистими та іншими шкідливими речовинами;</li>
                    <li> користуватися відкритим вогнем в якості світлового джерела і для прогріву двигуна;</li>
                    <li> залишати (паркувати) автомобілі при наявності витоку горючо-змащувальних матеріалів;</li>
                    <li> перешкоджати виїздам, заїздам, проїздам по території Платної парковки;</li>
                    <li> розклеювати (встановлювати) плакати, афіші, оголошення, інші матеріали рекламного або агітаційного змісту;</li>
                    <li> влаштовувати збори, мітинги, рекламні та маркетингові акції, а також проводити опитування, анкетування та збір інформації будь-яким іншим способом.</li>
                </ul>
            <li>Скориставшись послугами паркінгу клієнт автоматично погоджується з Правилами користування підземним паркінгом.</li>
        </ol>
    </div>
</div>
{% endblock %}
