{% extends "parking/base.html" %}

{% block content %}
<div class="container-fluid">
    <h2>Admin Dashboard</h2>
    <p>Total Vehicles: {{ stats.total_vehicles }}</p>
    <p>Blacklisted Vehicles: {{ stats.blocked_vehicles }}</p>
    <p>Total Parking Sessions: {{ stats.total_parking_sessions }}</p>
    <p>Total Revenue: {{ stats.total_revenue }} UAH</p>
</div>

{% endblock %}


<!-- <!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Total Vehicles: {{ stats.total_vehicles }}</p>
    <p>Blacklisted Vehicles: {{ stats.blacklisted_vehicles }}</p>
    <p>Total Parking Sessions: {{ stats.total_parking_sessions }}</p>
    <p>Total Revenue: {{ stats.total_revenue }} UAH</p>
</body>
</html> -->
