<dialog
  id="htmx-dialog"
  class="dialog rounded-4"
  style="width: 50%; min-width: 50%; min-height: 50%"
>
  <div class="container-fluid">
    <button
      type="button"
      class="close-dialog btn-close position-absolute"
      aria-label="Close"
      style="top: 1rem; right: 1rem"
    ></button>

    <div class="details">
      <h3>{{ type.capitalize }} parking session</h3>
      <form
        action=""
        method="post"
        id="htmx-dialog-form"
        data-hx-post="{% url 'parking:parking_session_dialog' %}"
        data-hx-swap="outerHTML"
        >
        {% include "parking/parking_session_form.html" %}
      </form>
    </div>
  </div>
</dialog>
