{% extends "parking/base.html" %}

{% block content %}
<div>
    <h2>Схема проїзду</h2>
</div>

{% for place in places_info %}

<div class="container-fluid">
    <p>{{place.description}}</p>

    <div class="row row-cols-auto gap-3 p-4 border rounded bg-light">

    {% for place_numbers in place.parking_place %}        

        <div class="col py-3 border rounded align-content-center {% if place_numbers.status == 'free' %}bg-success{% else %}bg-danger{% endif %}" style="width: 150px; height: 170px;">

            <p class="text-center"> № {{place_numbers.number}}</p>

            {% if user.is_authenticated %}
            
                <p class="text-center">{% if place_numbers.vehicle != None %}{{place_numbers.vehicle}}{%endif%}</p>
            
                <p class="text-center">{% if place_numbers.start_time != None %}{{place_numbers.start_time}}{%endif%}</p>

                <p class="text-center">{{place_numbers.current_time}}</p>
            
            {% endif %}

        </div>
        
        
    {% endfor %}
    </div>
     
</div>

{% endfor %}

{% endblock %}