{% extends "parking/base.html" %}

{% block content %}
<div>
    <h2>Схема проїзду</h2>
</div>

{% for place in places_info %}

<div class="container-fluid">
    <p>{{place.description}}</p>

    <div class="row row-cols-auto gap-3 p-4 border rounded bg-light">

        {% for place_number in place.parking_place %}
        
        <div class="col">

            <div class="card justify-content-center {% if place_number.status == 'free' %}bg-success{% else %}bg-danger{% endif %}" style="width: 8rem; height: 10rem;">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h4 class="card-title text-center">№ {{place_number.number}}</h4>
                    {% if user.is_authenticated %}
                        {% if place_number.vehicle != None %}
                            <p class="card-text text-center text-white">{{place_number.vehicle}}</p>
                        {%endif%}

                        {% if place_number.start_time != None %}
                            <p class="card-text text-center text-white">{{place_number.start_time}}</p>
                        {%endif%}

                        {% if place_number.current_time != None %}
                            <p class="text-center text-white">{{place_number.current_time}}</p>
                        {%endif%}

                        {% if place_number.session_id != None %}
                            <a class="stretched-link" 
                                href="parking_session/{{place_number.session_id}}/"
                                data-hx-get="{% url 'parking:parking_session_dialog_edit' place_number.session_id %}"
                                data-hx-target="main"
                                data-hx-swap="beforeend"
                                ></a>
                        {% else %}
                            <a class="stretched-link"
                                href="parking_session/"
                                data-hx-get="{% url 'parking:parking_session_dialog' %}"
                                data-hx-target="main"
                                data-hx-swap="beforeend"
                            > </a>
                        {% endif %}
                    {% endif %}

                </div>

                <!-- <button
                    data-hx-get="{% url 'parking:parking_session_dialog' %}"
                    data-hx-target="main"
                    data-hx-swap="beforeend"
                    type="button"
                    class="btn btn-primary">Log in</button> -->
            </div>

        </div>
        
        
        {% endfor %}
    </div>
     
</div>

{% endfor %}

{% endblock %}