{% extends "parking/base.html" %}

{% block content %}
<div class="container">
    
        <h2 class="text-center">Тарифи на послуги паркування</h2>
        <table class="table">
            <tr>
                <td>1h Паркування погодинне</td>
                <td>30.00 грн.</td>
            </tr>
            <tr>
                <td>12h Паркування повний день (08:01-20:00)</td>
                <td>280.00 грн.</td>
            </tr>
            <tr>
                <td>12h Паркування повна ніч (20:01-08:00)</td>
                <td>260.00 грн.</td>
            </tr>
            <tr>
                <td>24h Паркування доба (24 години) (00:01-24:00)</td>
                <td>480.00 грн.</td>
            </tr>
            <tr>
                <td>30d Паркування місяць (30 календарних діб)</td>
                <td>4 000.00 грн.</td>
            </tr>
            <tr>
                <td>60d Паркування 2 місяця (60 календарних діб)</td>
                <td>7 500.00 грн.</td>
            </tr>
            <tr>
                <td>90d Паркування 3 місяця (90 календарних діб)</td>
                <td>11 100.00 грн.</td>
            </tr>
        </table>
    
</div>
{% endblock %}